# 強弱盤

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
import numpy as np 
from sklearn import svm
from sklearn.svm import LinearSVC
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split
from sklearn import metrics
from sklearn.model_selection import cross_val_score
from sklearn import preprocessing
from sklearn.feature_selection import RFE
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import GradientBoostingClassifier
import graphviz
from sklearn import tree
import warnings
warnings.filterwarnings('ignore')
import pickle
from os import listdir
import os

In [ ]:
path = './NBA_DATA'
seasons = sorted(listdir(path))[0:-2]
Mstat = pd.DataFrame()
for season in seasons:
    Mstat = pd.concat([Mstat, pd.read_csv(os.path.join(path, season, 'Miscellaneous_Stat.csv'))], ignore_index=True)

def Team_map(team):
    return team if team.find('*') == -1 else team[:-1]

Mstat.Team = Mstat.Team.map(Team_map)   
Mstat = Mstat.groupby('Team').mean().reset_index()
Mstat.head()

                Team         Rk  ...        Attend.     Attend./G
0      Atlanta Hawks  18.333333  ...  637171.166667  15997.333333
1     Boston Celtics   8.000000  ...  728191.333333  18459.166667
2      Brooklyn Nets  22.000000  ...  621465.500000  15718.500000
3  Charlotte Hornets  18.333333  ...  659831.333333  16719.333333
4      Chicago Bulls  19.833333  ...  830800.666667  20798.500000

[5 rows x 27 columns]

In [ ]:
path = './NBA_DATA'
seasons = sorted(listdir(path))[0:-2]
Tstat = pd.DataFrame()
for season in seasons:
    Tstat = pd.concat([Tstat, pd.read_csv(os.path.join(path, season, 'Team_Per_Game_Stat.csv'))], ignore_index=True)

def Team_map(team):
    return team if team.find('*') == -1 else team[:-1]

Tstat.Team = Tstat.Team.map(Team_map)   
Tstat = Tstat.groupby('Team').mean().reset_index()
Tstat.head()

                Team         Rk          G  ...        TOV         PF         PTS
0      Atlanta Hawks  16.000000  79.500000  ...  15.633333  20.233333  106.166667
1     Boston Celtics  11.333333  80.333333  ...  13.566667  20.900000  107.533333
2      Brooklyn Nets  17.500000  80.333333  ...  15.116667  20.233333  105.500000
3  Charlotte Hornets  19.166667  79.166667  ...  12.583333  17.966667  104.050000
4      Chicago Bulls  23.166667  79.166667  ...  14.183333  19.333333  103.316667

[5 rows x 25 columns]

In [ ]:
path = './NBA_DATA'
seasons = sorted(listdir(path))[0:-2]
Ostat = pd.DataFrame()
for season in seasons:
    Ostat = pd.concat([Ostat, pd.read_csv(os.path.join(path, season, 'Opponent_Per_Game_Stat.csv'))], ignore_index=True)

def Team_map(team):
    return team if team.find('*') == -1 else team[:-1]

Ostat.Team = Ostat.Team.map(Team_map)   
Ostat = Ostat.groupby('Team').mean().reset_index()
Ostat.head()

                Team         Rk          G  ...        TOV         PF         PTS
0      Atlanta Hawks  17.333333  79.500000  ...  15.450000  20.500000  108.033333
1     Boston Celtics  10.333333  80.333333  ...  14.966667  19.916667  104.133333
2      Brooklyn Nets  22.500000  80.333333  ...  13.350000  20.266667  109.050000
3  Charlotte Hornets  12.666667  79.166667  ...  13.450000  20.783333  105.350000
4      Chicago Bulls  15.500000  79.166667  ...  13.783333  19.000000  106.100000

[5 rows x 25 columns]

In [ ]:
# 統計每隊Miscellaneous Opponent，Team資料
def initialize_data(Mstat, Ostat, Tstat):
  new_Mstat = Mstat.drop(['Rk'], axis=1)
  new_Ostat = Ostat.drop(['Rk', 'G', 'MP'], axis=1)
  new_Tstat = Tstat.drop(['Rk', 'G', 'MP'], axis=1)

  team_stats1 = pd.merge(new_Mstat, new_Ostat, how='left', on='Team')
  team_stats1 = pd.merge(team_stats1, new_Tstat, how='left', on='Team')
  return team_stats1.set_index('Team', inplace=False, drop=True)

team_stats = initialize_data(Mstat, Ostat, Tstat)
team_stats.head(5)

                         Age          W  ...       PF_y       PTS_y
Team                                     ...
Atlanta Hawks      26.416667  37.333333  ...  20.233333  106.166667
Boston Celtics     25.300000  48.833333  ...  20.900000  107.533333
Brooklyn Nets      26.383333  30.666667  ...  20.233333  105.500000
Charlotte Hornets  26.000000  35.833333  ...  17.966667  104.050000
Chicago Bulls      26.016667  34.000000  ...  19.333333  103.316667

[5 rows x 67 columns]

In [ ]:
# 計算ELO值，分辨隊伍強隊
def get_elo(team):
  try:
    return team_elos[team]
  except:
    team_elos[team] = base_elo
    return team_elos[team]

def calc_elo(win_team, lose_team):
  winner_rank = get_elo(win_team)
  loser_rank = get_elo(lose_team)

  rank_diff = winner_rank - loser_rank
  exp = (rank_diff  * -1) / 400
  odds = 1 / (1 + math.pow(10, exp))
  if winner_rank < 2100:
    k = 32
  elif winner_rank >= 2100 and winner_rank < 2400:
    k = 24
  else:
    k = 16
  new_winner_rank = round(winner_rank + (k * (1 - odds)))
  new_rank_diff = new_winner_rank - winner_rank
  new_loser_rank = loser_rank - new_rank_diff

  return new_winner_rank, new_loser_rank

In [ ]:
path = './NBA_DATA'
seasons = sorted(listdir(path))[0:-2]
Games = pd.DataFrame()
for season in seasons:
    Games = pd.concat([Games, pd.read_csv(os.path.join(path, season, 'result.csv'))], ignore_index=True)
FTR = []
  
for index, row in Games[['Visitor/Neutral','PTS','Home/Neutral','PTS.1']].iterrows():
    if row['PTS']>row['PTS.1']:
        FTR.append('Visitor')
    else:
        FTR.append('Home')
Games["FTR"] =   FTR  
Games = Games[['Visitor/Neutral','Home/Neutral','FTR']]
Games

           Visitor/Neutral           Home/Neutral      FTR
0            Orlando Magic   New Orleans Pelicans     Home
1         Dallas Mavericks      San Antonio Spurs     Home
2          Houston Rockets     Los Angeles Lakers  Visitor
3          Milwaukee Bucks      Charlotte Hornets     Home
4       Philadelphia 76ers         Indiana Pacers     Home
...                    ...                    ...      ...
7506  Los Angeles Clippers  Golden State Warriors  Visitor
7507       Detroit Pistons     Philadelphia 76ers     Home
7508       New York Knicks          Atlanta Hawks  Visitor
7509     Charlotte Hornets             Miami Heat  Visitor
7510        Denver Nuggets       Dallas Mavericks     Home

[7511 rows x 3 columns]

In [ ]:
import random,math

base_elo = 1600
team_elos = {} 
x = []
y = []

def  build_dataSet(all_data):

  print("Building data set..")
  skip = 0
  for index, row in all_data.iterrows():

    Visitor = row['Visitor/Neutral']
    Home = row['Home/Neutral']
    FTR = row['FTR']

    Home_elo = get_elo(Home)
    Visitor_elo = get_elo(Visitor)

    #给主场比赛的队伍加上100的elo值
    Home_elo += 100

    Home_features = [Home_elo]
    Visitor_features = [Visitor_elo]
 
    for key, value in team_stats.loc[Home].iteritems():
      Home_features.append(value)
    for key, value in team_stats.loc[Visitor].iteritems():
      Visitor_features.append(value)

    x.append(Home_features+Visitor_features)
    if row['FTR'] == 'Home':
        y.append(0)
    else:
        y.append(1)

    if row['FTR'] == 'Home':
        new_winner_rank, new_loser_rank = calc_elo(Home, Visitor)
        team_elos[Home] = new_winner_rank
        team_elos[Visitor] = new_loser_rank
    else:
        new_winner_rank, new_loser_rank = calc_elo(Visitor, Home)
        team_elos[Visitor] = new_winner_rank
        team_elos[Home] = new_loser_rank

  return np.nan_to_num(x), y

x, y = build_dataSet(Games)

Building data set..

In [ ]:
import xgboost as xgb
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.metrics import f1_score

print("Fitting on %d game samples.." % len(x))
model = LogisticRegression()
model.fit(x, y)

print("Doing cross-validation..")
print(cross_val_score(model, x, y, cv = 10, scoring='accuracy', n_jobs=-1).mean())

Fitting on 7511 game samples..
Doing cross-validation..
0.6600978836728333

In [ ]:
import pickle #pickle模組

with open('強弱盤.pickle', 'wb') as f:
    pickle.dump(model, f)

In [ ]:
#讀取Model
with open('強弱盤.pickle', 'rb') as f:
    model = pickle.load(f)

In [ ]:
def predict_winner(home, visitor, model):
  features = []

  features.append(get_elo(home) + 100)
  for key, value in team_stats.loc[home].iteritems():
    features.append(value)

  features.append(get_elo(visitor))
  for key, value in team_stats.loc[visitor].iteritems():
    features.append(value)


  features = np.nan_to_num(features)
  return model.predict_proba([features])

In [ ]:
path = './NBA_DATA'
seasons = sorted(listdir(path))[-2:-1]
Games = pd.DataFrame()
for season in seasons:
    Games = pd.concat([Games, pd.read_csv(os.path.join(path, season, 'result.csv'))], ignore_index=True)

FTR = []
for index, row in Games[['Visitor/Neutral','PTS','Home/Neutral','PTS.1']].iterrows():
    if row['PTS']>row['PTS.1']:
        FTR.append('Visitor')
    else:
        FTR.append('Home')
Games["FTR"] =  FTR  


Games = Games[['Visitor/Neutral','Home/Neutral','FTR']]
print('Predicting on new schedule..')
result = []
for index, row in Games.iterrows():
  Visitor = row['Visitor/Neutral']
  Home = row['Home/Neutral']
  pred = predict_winner(Home, Visitor, model)
  if pred[0][0] > pred[0][1]:
      result.append('Home')
  else:
      result.append('Visitor')

Predicting on new schedule..

In [ ]:
import numpy as np
correct = 0
for i in range(len(result)):
    if result[i] == Games['FTR'][i]:
        correct+=1
print('accuracy:',correct/len(result))

accuracy: 0.5447154471544715

# 大小盤

In [ ]:
path = './NBA_DATA'
seasons = sorted(listdir(path))[0:-2]
Mstat = pd.DataFrame()
for season in seasons:
    Mstat = pd.concat([Mstat, pd.read_csv(os.path.join(path, season, 'Miscellaneous_Stat.csv'))], ignore_index=True)

def Team_map(team):
    return team if team.find('*') == -1 else team[:-1]

Mstat.Team = Mstat.Team.map(Team_map)   
Mstat = Mstat.groupby('Team').mean().reset_index()

In [ ]:
path = './NBA_DATA'
seasons = sorted(listdir(path))[0:-2]
Tstat = pd.DataFrame()
for season in seasons:
    Tstat = pd.concat([Tstat, pd.read_csv(os.path.join(path, season, 'Team_Per_Game_Stat.csv'))], ignore_index=True)

def Team_map(team):
    return team if team.find('*') == -1 else team[:-1]

Tstat.Team = Tstat.Team.map(Team_map)   
Tstat = Tstat.groupby('Team').mean().reset_index()

In [ ]:
path = './NBA_DATA'
seasons = sorted(listdir(path))[0:-2]
Ostat = pd.DataFrame()
for season in seasons:
    Ostat = pd.concat([Ostat, pd.read_csv(os.path.join(path, season, 'Opponent_Per_Game_Stat.csv'))], ignore_index=True)

def Team_map(team):
    return team if team.find('*') == -1 else team[:-1]

Ostat.Team = Ostat.Team.map(Team_map)   
Ostat = Ostat.groupby('Team').mean().reset_index()

In [ ]:
# 統計每隊Miscellaneous Opponent，Team資料
def initialize_data(Mstat, Ostat, Tstat):
  new_Mstat = Mstat.drop(['Rk'], axis=1)
  new_Ostat = Ostat.drop(['Rk', 'G', 'MP'], axis=1)
  new_Tstat = Tstat.drop(['Rk', 'G', 'MP'], axis=1)

  team_stats1 = pd.merge(new_Mstat, new_Ostat, how='left', on='Team')
  team_stats1 = pd.merge(team_stats1, new_Tstat, how='left', on='Team')
  return team_stats1.set_index('Team', inplace=False, drop=True)

team_stats = initialize_data(Mstat, Ostat, Tstat)

In [ ]:
# 計算ELO值，分辨隊伍強隊
def get_elo(team):
  try:
    return team_elos[team]
  except:
    team_elos[team] = base_elo
    return team_elos[team]

def calc_elo(win_team, lose_team):
  winner_rank = get_elo(win_team)
  loser_rank = get_elo(lose_team)

  rank_diff = winner_rank - loser_rank
  exp = (rank_diff  * -1) / 400
  odds = 1 / (1 + math.pow(10, exp))
  if winner_rank < 2100:
    k = 32
  elif winner_rank >= 2100 and winner_rank < 2400:
    k = 24
  else:
    k = 16
  new_winner_rank = round(winner_rank + (k * (1 - odds)))
  new_rank_diff = new_winner_rank - winner_rank
  new_loser_rank = loser_rank - new_rank_diff

  return new_winner_rank, new_loser_rank

In [ ]:
path = './NBA_DATA'
seasons = sorted(listdir(path))[0:-1]
Games = pd.DataFrame()
for season in seasons:
    Games = pd.concat([Games, pd.read_csv(os.path.join(path, season, 'result.csv'))], ignore_index=True)
SUM = []

for index, row in Games[['Visitor/Neutral','PTS','Home/Neutral','PTS.1']].iterrows():
    SUM.append(row['PTS']+row['PTS.1'])
Games["SUM"] =   SUM 

FTR = []
for index, row in Games[['Visitor/Neutral','PTS','Home/Neutral','PTS.1']].iterrows():
    if row['PTS']>row['PTS.1']:
        FTR.append('Visitor')
    else:
        FTR.append('Home')
Games["FTR"] =  FTR  
 
Games = Games[['Visitor/Neutral','Home/Neutral','SUM',"FTR"]]

In [ ]:
import random,math

base_elo = 1600
team_elos = {} 
x = []
y = []

def  build_dataSet(all_data):

  print("Building data set..")
  skip = 0
  for index, row in all_data.iterrows():

    Visitor = row['Visitor/Neutral']
    Home = row['Home/Neutral']
    SUM = row['SUM']

    Home_elo = get_elo(Home)
    Visitor_elo = get_elo(Visitor)

    #给主场比赛的队伍加上100的elo值
    Home_elo += 100

    Home_features = [Home_elo]
    Visitor_features = [Visitor_elo]
 
    for key, value in team_stats.loc[Home].iteritems():
      Home_features.append(value)
    for key, value in team_stats.loc[Visitor].iteritems():
      Visitor_features.append(value)

    x.append(Home_features+Visitor_features)

    y.append(SUM)
 

    if row['FTR'] == 'Home':
        new_winner_rank, new_loser_rank = calc_elo(Home, Visitor)
        team_elos[Home] = new_winner_rank
        team_elos[Visitor] = new_loser_rank
    else:
        new_winner_rank, new_loser_rank = calc_elo(Visitor, Home)
        team_elos[Visitor] = new_winner_rank
        team_elos[Home] = new_loser_rank



  return np.nan_to_num(x), y

x, y = build_dataSet(Games)

Building data set..

In [ ]:
import xgboost as xgb
from sklearn.linear_model import LinearRegression
from sklearn.svm import SVC
from sklearn.metrics import f1_score

print("Fitting on %d game samples.." % len(x))

model = LinearRegression()
model.fit(x, y)

Fitting on 8987 game samples..

LinearRegression()

In [ ]:
import pickle #pickle模組

with open('大小盤.pickle', 'wb') as f:
    pickle.dump(model, f)

In [ ]:
#讀取Model
with open('大小盤.pickle', 'rb') as f:
    model = pickle.load(f)

In [ ]:
def predict_winner(home, visitor, model):
  features = []

  features.append(get_elo(home) + 100)
  for key, value in team_stats.loc[home].iteritems():
    features.append(value)

  features.append(get_elo(visitor))
  for key, value in team_stats.loc[visitor].iteritems():
    features.append(value)


  features = np.nan_to_num(features)
  return model.predict([features])

In [ ]:
path = './NBA_DATA'
seasons = sorted(listdir(path))[-2:-1]
Games = pd.DataFrame()
for season in seasons:
    Games = pd.concat([Games, pd.read_csv(os.path.join(path, season, 'result.csv'))], ignore_index=True)

FTR = []
SUM = []
for index, row in Games[['Visitor/Neutral','PTS','Home/Neutral','PTS.1']].iterrows():
    if row['PTS']>row['PTS.1']:
        FTR.append('Visitor')
    else:
        FTR.append('Home')
    SUM.append(row['PTS']+row['PTS.1'])
    

Games["FTR"] =  FTR  
Games["SUM"] =  SUM 

Games = Games[['Visitor/Neutral','Home/Neutral','FTR','SUM']]
print('Predicting on new schedule..')
result = []
for index, row in Games.iterrows():
  Visitor = row['Visitor/Neutral']
  Home = row['Home/Neutral']
  pred = predict_winner(Home, Visitor, model)
  result.append(pred)

Predicting on new schedule..

In [ ]:
np.array(Games.SUM).shape

(1476,)

In [ ]:
np.array(result).reshape(len(result)).shape

(1476,)

In [ ]:
from sklearn.metrics import mean_squared_error
mean_squared_error(np.array(Games.SUM),np.array(result).reshape(len(result)))

473.87355009370754

# 讓分盤

In [ ]:
path = './NBA_DATA'
seasons = sorted(listdir(path))[0:-2]
Mstat = pd.DataFrame()
for season in seasons:
    Mstat = pd.concat([Mstat, pd.read_csv(os.path.join(path, season, 'Miscellaneous_Stat.csv'))], ignore_index=True)

def Team_map(team):
    return team if team.find('*') == -1 else team[:-1]

Mstat.Team = Mstat.Team.map(Team_map)   
Mstat = Mstat.groupby('Team').mean().reset_index()

In [ ]:
path = './NBA_DATA'
seasons = sorted(listdir(path))[0:-2]
Tstat = pd.DataFrame()
for season in seasons:
    Tstat = pd.concat([Tstat, pd.read_csv(os.path.join(path, season, 'Team_Per_Game_Stat.csv'))], ignore_index=True)

def Team_map(team):
    return team if team.find('*') == -1 else team[:-1]

Tstat.Team = Tstat.Team.map(Team_map)   
Tstat = Tstat.groupby('Team').mean().reset_index()

In [ ]:
path = './NBA_DATA'
seasons = sorted(listdir(path))[0:-2]
Ostat = pd.DataFrame()
for season in seasons:
    Ostat = pd.concat([Ostat, pd.read_csv(os.path.join(path, season, 'Opponent_Per_Game_Stat.csv'))], ignore_index=True)

def Team_map(team):
    return team if team.find('*') == -1 else team[:-1]

Ostat.Team = Ostat.Team.map(Team_map)   
Ostat = Ostat.groupby('Team').mean().reset_index()

In [ ]:
# 統計每隊Miscellaneous Opponent，Team資料
def initialize_data(Mstat, Ostat, Tstat):
  new_Mstat = Mstat.drop(['Rk'], axis=1)
  new_Ostat = Ostat.drop(['Rk', 'G', 'MP'], axis=1)
  new_Tstat = Tstat.drop(['Rk', 'G', 'MP'], axis=1)

  team_stats1 = pd.merge(new_Mstat, new_Ostat, how='left', on='Team')
  team_stats1 = pd.merge(team_stats1, new_Tstat, how='left', on='Team')
  return team_stats1.set_index('Team', inplace=False, drop=True)

team_stats = initialize_data(Mstat, Ostat, Tstat)

In [ ]:
# 計算ELO值，分辨隊伍強隊
def get_elo(team):
  try:
    return team_elos[team]
  except:
    team_elos[team] = base_elo
    return team_elos[team]

def calc_elo(win_team, lose_team):
  winner_rank = get_elo(win_team)
  loser_rank = get_elo(lose_team)

  rank_diff = winner_rank - loser_rank
  exp = (rank_diff  * -1) / 400
  odds = 1 / (1 + math.pow(10, exp))
  if winner_rank < 2100:
    k = 32
  elif winner_rank >= 2100 and winner_rank < 2400:
    k = 24
  else:
    k = 16
  new_winner_rank = round(winner_rank + (k * (1 - odds)))
  new_rank_diff = new_winner_rank - winner_rank
  new_loser_rank = loser_rank - new_rank_diff

  return new_winner_rank, new_loser_rank

In [ ]:
path = './NBA_DATA'
seasons = sorted(listdir(path))[0:-1]
Games = pd.DataFrame()
for season in seasons:
    Games = pd.concat([Games, pd.read_csv(os.path.join(path, season, 'result.csv'))], ignore_index=True)
H_score = []
A_score = []

for index, row in Games[['Visitor/Neutral','PTS','Home/Neutral','PTS.1']].iterrows():
    H_score.append(row['PTS.1'])
    A_score.append(row['PTS'])

Games["H_score"] =   H_score 
Games["A_score"] =   A_score 

FTR = []
for index, row in Games[['Visitor/Neutral','PTS','Home/Neutral','PTS.1']].iterrows():
    if row['PTS']>row['PTS.1']:
        FTR.append('Visitor')
    else:
        FTR.append('Home')
Games["FTR"] =  FTR  
 
Games = Games[['Visitor/Neutral','Home/Neutral','A_score','H_score',"FTR"]]
Games

             Visitor/Neutral            Home/Neutral  A_score  H_score      FTR
0              Orlando Magic    New Orleans Pelicans       84      101     Home
1           Dallas Mavericks       San Antonio Spurs      100      101     Home
2            Houston Rockets      Los Angeles Lakers      108       90  Visitor
3            Milwaukee Bucks       Charlotte Hornets      106      108     Home
4         Philadelphia 76ers          Indiana Pacers       91      103     Home
...                      ...                     ...      ...      ...      ...
8982          Indiana Pacers  Minnesota Timberwolves       98      100     Home
8983     Cleveland Cavaliers        Dallas Mavericks      114       96  Visitor
8984      Washington Wizards       San Antonio Spurs       99      116     Home
8985  Portland Trail Blazers               Utah Jazz      107      129     Home
8986    New Orleans Pelicans    Los Angeles Clippers      123      104  Visitor

[8987 rows x 5 columns]

In [ ]:
import random,math

base_elo = 1600
team_elos = {} 
x = []
y = []

def  build_dataSet(all_data):

  print("Building data set..")
  skip = 0
  for index, row in all_data.iterrows():

    Visitor = row['Visitor/Neutral']
    Home = row['Home/Neutral']
    H_score = row['H_score']
    A_score = row['A_score']

    Home_elo = get_elo(Home)
    Visitor_elo = get_elo(Visitor)

    #给主场比赛的队伍加上100的elo值
    Home_elo += 100

    Home_features = [Home_elo]
    Visitor_features = [Visitor_elo]
 
    for key, value in team_stats.loc[Home].iteritems():
      Home_features.append(value)
    for key, value in team_stats.loc[Visitor].iteritems():
      Visitor_features.append(value)

    x.append(Home_features+Visitor_features)

    y.append([H_score,A_score])
 

    if row['FTR'] == 'Home':
        new_winner_rank, new_loser_rank = calc_elo(Home, Visitor)
        team_elos[Home] = new_winner_rank
        team_elos[Visitor] = new_loser_rank
    else:
        new_winner_rank, new_loser_rank = calc_elo(Visitor, Home)
        team_elos[Visitor] = new_winner_rank
        team_elos[Home] = new_loser_rank



  return np.nan_to_num(x), y

x, y = build_dataSet(Games)

Building data set..

In [ ]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import f1_score

print("Fitting on %d game samples.." % len(x))

model = RandomForestRegressor()
model.fit(x, y)

Fitting on 8987 game samples..

RandomForestRegressor()

In [ ]:
import pickle #pickle模組

with open('讓分盤.pickle', 'wb') as f:
    pickle.dump(model, f)

In [ ]:
#讀取Model
with open('讓分盤.pickle', 'rb') as f:
    model = pickle.load(f)

In [ ]:
def predict_winner(home, visitor, model):
  features = []

  features.append(get_elo(home) + 100)
  for key, value in team_stats.loc[home].iteritems():
    features.append(value)

  features.append(get_elo(visitor))
  for key, value in team_stats.loc[visitor].iteritems():
    features.append(value)


  features = np.nan_to_num(features)
  return model.predict([features])[0]

In [ ]:
path = './NBA_DATA'
seasons = sorted(listdir(path))[-2:-1]
Games = pd.DataFrame()
for season in seasons:
    Games = pd.concat([Games, pd.read_csv(os.path.join(path, season, 'result.csv'))], ignore_index=True)
Games

H_score = []
A_score = []

for index, row in Games[['Visitor/Neutral','PTS','Home/Neutral','PTS.1']].iterrows():
    H_score.append(row['PTS.1'])
    A_score.append(row['PTS'])

Games["H_score"] =   H_score 
Games["A_score"] =   A_score 

Games = Games[['Visitor/Neutral','Home/Neutral','H_score','A_score']]
print('Predicting on new schedule..')
result = []
for index, row in Games.iterrows():
  Visitor = row['Visitor/Neutral']
  Home = row['Home/Neutral']
  pred = predict_winner(Home, Visitor, model)
  result.append(pred)

Predicting on new schedule..

In [ ]:
result

# 本機運行

In [ ]:
import pickle
import pandas as pd
from datetime import datetime
from datetime import datetime,timezone,timedelta

 
class NBAPredict(object):
    def __init__(self):
        with open('強弱盤.pickle', 'rb') as f:
           self.StrongWeakModel = pickle.load(f)
        with open('大小盤.pickle', 'rb') as f:
           self.BigSmallModel =  pickle.load(f)
        with open('讓分盤.pickle', 'rb') as f:
           self.Handicap = pickle.load(f)

    def FetchDateTimeRange(self, day = 1):
        return (datetime.now().astimezone(timezone(timedelta(hours=8)))+timedelta(days=1)).replace(hour=23, minute=59,second=59).strftime("%Y-%m-%d %H:%M:%S.000")
    
    def process_DataTime(self,Date,Start):
        return datetime.strptime(Date+' '+Start[:-1],"%a, %b %d, %Y %I:%M")

    def FetchMatchEntrys(self,mydatetime):
        games = pd.read_csv('./NBA_DATA/明日賽事.csv')
        for index,game in games.iteritems():
            print(game)
  

    def predict_Handicap(self,home, visitor):
        features = []

        features.append(get_elo(home) + 100)
        for key, value in self.team_stats.loc[home].iteritems():
          features.append(value)

        features.append(get_elo(visitor))
        for key, value in self.team_stats.loc[visitor].iteritems():
          features.append(value)


        features = np.nan_to_num(features)
        return features#self.Handicap.predict([features])[0]

    def predict_SUM(self,home, visitor):
        features = []

        features.append(get_elo(home) + 100)
        for key, value in self.team_stats.loc[home].iteritems():
          features.append(value)

        features.append(get_elo(visitor))
        for key, value in self.team_stats.loc[visitor].iteritems():
          features.append(value)


        features = np.nan_to_num(features)
        return self.BigSmallModel.predict([features])[0]
    
    
    def predict_StrongWeak(self, home, visitor):
        features = []
        teams = [home, visitor]

        features.append(get_elo(home) + 100)
        for key, value in self.team_stats.loc[home].iteritems():
            features.append(value)

        features.append(get_elo(visitor))
        for key, value in self.team_stats.loc[visitor].iteritems():
            features.append(value)

        features = np.nan_to_num(features)

        return teams[self.StrongWeakModel.predict([features])[0]]
    
    def initialize(self):
        path = './NBA_DATA'
        seasons = sorted(listdir(path))[0:-2]
        Mstat = pd.DataFrame()
        for season in seasons:
           Mstat = pd.concat([Mstat, pd.read_csv(os.path.join(path, season, 'Miscellaneous_Stat.csv'))], ignore_index=True)
        def Team_map(team):
           return team if team.find('*') == -1 else team[:-1]
        Mstat.Team = Mstat.Team.map(Team_map)   
        Mstat = Mstat.groupby('Team').mean().reset_index()

        path = './NBA_DATA'
        seasons = sorted(listdir(path))[0:-2]
        Tstat = pd.DataFrame()
        for season in seasons:
          Tstat = pd.concat([Tstat, pd.read_csv(os.path.join(path, season, 'Team_Per_Game_Stat.csv'))], ignore_index=True)

        def Team_map(team):
          return team if team.find('*') == -1 else team[:-1]

        Tstat.Team = Tstat.Team.map(Team_map)   
        Tstat = Tstat.groupby('Team').mean().reset_index()

        path = './NBA_DATA'
        seasons = sorted(listdir(path))[0:-2]
        Ostat = pd.DataFrame()
        for season in seasons:
           Ostat = pd.concat([Ostat, pd.read_csv(os.path.join(path, season, 'Opponent_Per_Game_Stat.csv'))], ignore_index=True)

        def Team_map(team):
           return team if team.find('*') == -1 else team[:-1]

        Ostat.Team = Ostat.Team.map(Team_map)   
        Ostat = Ostat.groupby('Team').mean().reset_index()

        def initialize_data(Mstat, Ostat, Tstat):
           new_Mstat = Mstat.drop(['Rk'], axis=1)
           new_Ostat = Ostat.drop(['Rk', 'G', 'MP'], axis=1)
           new_Tstat = Tstat.drop(['Rk', 'G', 'MP'], axis=1)

           team_stats1 = pd.merge(new_Mstat, new_Ostat, how='left', on='Team')
           team_stats1 = pd.merge(team_stats1, new_Tstat, how='left', on='Team')
           return team_stats1.set_index('Team', inplace=False, drop=True)

        self.team_stats = initialize_data(Mstat, Ostat, Tstat)

        # 計算ELO值，分辨隊伍強隊
        def get_elo(team):
             try:
               
               return self.team_elos[team]
             except:
               self.team_elos[team] = base_elo
               return self.team_elos[team]

        def calc_elo(win_team, lose_team):
               winner_rank = get_elo(win_team)
               loser_rank = get_elo(lose_team)

               rank_diff = winner_rank - loser_rank
               exp = (rank_diff  * -1) / 400
               odds = 1 / (1 + math.pow(10, exp))
               if winner_rank < 2100:
                   k = 32
               elif winner_rank >= 2100 and winner_rank < 2400:
                   k = 24
               else:
                   k = 16
               new_winner_rank = round(winner_rank + (k * (1 - odds)))
               new_rank_diff = new_winner_rank - winner_rank
               new_loser_rank = loser_rank - new_rank_diff

               return new_winner_rank, new_loser_rank

        path = './NBA_DATA'
        seasons = sorted(listdir(path))[0:-1]
        Games = pd.DataFrame()
        for season in seasons:
          Games = pd.concat([Games, pd.read_csv(os.path.join(path, season, 'result.csv'))], ignore_index=True)
        
        H_score = []
        A_score = []
        SUM = []
        for index, row in Games[['Visitor/Neutral','PTS','Home/Neutral','PTS.1']].iterrows():
            H_score.append(row['PTS.1'])
            A_score.append(row['PTS'])
            SUM.append(row['PTS.1']+row['PTS'])

        Games["H_score"] =   H_score 
        Games["A_score"] =   A_score
        Games["SUM"] =   SUM
        
        FTR = []
        for index, row in Games[['Visitor/Neutral','PTS','Home/Neutral','PTS.1']].iterrows():
           if row['PTS']>row['PTS.1']:
                 FTR.append('Visitor')
           else:
                 FTR.append('Home')

        Games["FTR"] =  FTR  
        Games = Games[['Visitor/Neutral','Home/Neutral','A_score','H_score','SUM',"FTR"]]


        import random,math

        base_elo = 1600
        self.team_elos = {} 
        x = []
        y = []

        def  build_dataSet(all_data):
      
         print("Building data set..")
         skip = 0
         for index, row in all_data.iterrows():
     
           Visitor = row['Visitor/Neutral']
           Home = row['Home/Neutral']
           H_score = row['H_score']
           A_score = row['A_score']

           Home_elo = get_elo(Home)
           Visitor_elo = get_elo(Visitor)

           #给主场比赛的队伍加上100的elo值
           Home_elo += 100

           Home_features = [Home_elo]
           Visitor_features = [Visitor_elo]
 
           for key, value in team_stats.loc[Home].iteritems():
              Home_features.append(value)
           for key, value in team_stats.loc[Visitor].iteritems():
              Visitor_features.append(value)

           x.append(Home_features+Visitor_features)

           y.append([H_score,A_score])
 

           if row['FTR'] == 'Home':
              new_winner_rank, new_loser_rank = calc_elo(Home, Visitor)
              self.team_elos[Home] = new_winner_rank
              self.team_elos[Visitor] = new_loser_rank
           else:
              new_winner_rank, new_loser_rank = calc_elo(Visitor, Home)
              self.team_elos[Visitor] = new_winner_rank
              self.team_elos[Home] = new_loser_rank
         return np.nan_to_num(x), y
        build_dataSet(Games)      
        


a = NBAPredict()

a.initialize()
print(a.predict_StrongWeak('Orlando Magic','New Orleans Pelicans'))
print(a.predict_SUM('Orlando Magic','New Orleans Pelicans'))
print(len(a.predict_Handicap('Orlando Magic','New Orleans Pelicans')))

Building data set..
New Orleans Pelicans
212.08181762695312
136

In [ ]:
from datetime import datetime
from datetime import datetime,timezone,timedelta

(datetime.now().astimezone(timezone(timedelta(hours=8)))+timedelta(days=1)).replace(hour=23, minute=59,second=59).strftime("%a, %b %d, %Y %I:%M")

'Thu, Dec 02, 2021 11:59'